#home-wrapper{
    padding-top: var(--navbar-height);
}

/* BANNER */
#banner{
    position: relative;
    background-color: var(--color-yellow); 
    border-bottom: solid 1px black;
}

#banner-content{
    max-width: 90rem;
    margin: auto;
    padding: 3rem 2rem;
}

#banner-content h1, #banner-content p{
    margin-top: 0;
    margin-bottom: 2rem;
}

#banner-content > h1{
    font-family: 'Playfair Display', serif;
    font-size: clamp(4rem, 1rem + 10vw, 7rem);
    line-height: 4.5rem;
}

#banner-content > p{
    color: rgb(20, 20, 20);
    font-family: 'Dosis', sans-serif;
    font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
    max-width: 25rem;
    font-weight: 500;
}

#banner-image-wrapper{
    max-width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#banner-svg{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    height: 100% ;
}

#banner-svg > text{
    animation: fade-in .5s;
}

@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}


/* Trending */
#trending-wrapper{
    border-bottom: solid 1px rgb(190, 190, 190);
}

#trending{
    margin: auto;
    padding: 1rem;
}

#trending-header{
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: .55em;
}

#trending-icon{
    width: 30px;
    margin-right: .2rem;
}

#trending .post-list-grid{
    grid-template-columns: 1fr;
}

#trending .p-list-itm{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 1.5rem;
}

#trending .p-list-itm-number{
    font-family: 'Island Moments', cursive;
    font-size: clamp(2rem, 2rem + 2vw, 3rem);
}

#trending .p-list-itm-title{
    font-size: clamp(1.2rem, .8rem + 1vw, 1.5rem);
}

#trending .p-list-itm-date-time-wrapper{
    font-size: clamp(.3rem, .3rem + 2vw, .9rem);
}

#main-content-wrapper{
    max-width: var(--content-max-width);
    margin: auto;
}

#feed{
    padding: 2rem 1.5rem;
}

#feed .p-list-itm{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 1.5rem;
    column-gap: 1.5rem;
    font-family: 'Bebas Neue', cursive;
}

#feed .p-list-itm-title{
    font-size: clamp(.7rem, .7rem + 2vw, 1.6rem);
}

#feed .p-list-itm-summary{
    font-size: clamp(.5rem, .5rem + 2vw, 1.2rem);
}

#feed .p-list-itm-date-time-wrapper{
    font-size: clamp(.3rem, .3rem + 2vw, .9rem);
}

#feed .p-list-itm-tag{
    display: none;
}

@media screen and (min-width: 520px){
    #trending .p-list-itm-pp, #feed .p-list-itm-pp{
        width: 25px;
        height: 25px;
    }

    #trending .p-list-itm-writer, #feed .p-list-itm-writer{
        font-size: .9rem;
    }

    #feed .post-cover{
        width: 12rem;
        height: 8rem;
    }
}

@media screen and (min-width: 720px){
    #trending{
        width: fit-content;
        padding: 2rem;
    }

    #trending .post-list-grid{
        grid-template-columns: repeat(2, minmax(20rem, 30rem));
    }
    
    #feed{
        padding: 2rem 3rem;
    }

    #feed .p-list-itm{
        margin-bottom: 3rem;
        column-gap: 2rem;
    }

    #feed .p-list-itm-content{
        margin-bottom: .5rem;
    }

    #feed .p-list-itm-summary{
        display: block;
    }
    
    #feed .p-list-itm-tag{
        display: inline-block;
    }

    #feed .p-list-itm-bookmark{
        width: 1.2rem;
    }
}

@media screen and (min-width: 920px){
    #trending{
        width: fit-content;
        max-width: var(--content-max-width);
    }

    #trending .post-list-grid{
        grid-template-columns: repeat(3, minmax(20rem, 30rem));
    }

    #main-content-wrapper{
        display: grid;
        grid-template-columns: 6fr 4fr;
    }
    

    
    #feed .post-cover{
        width: 12rem;
        height: 8rem;
    } 
}

@media screen and (min-width: 92rem){
    #feed{
        padding: 2rem 0;
        max-width: 45rem;
    }
}