:root{
    --navbar-color: var(--color-yellow);
}

#navbar-wrapper{
    border-bottom: solid 1px black;
    background-color: var(--navbar-color);
    height: 5rem;
}

#navbar{
    display: flex;
    align-items: center;
    max-width: var(--content-max-width);
    padding: 0 1rem;
    margin: auto;
    height: 100%;
}

#nav-brand{
    font-family: 'Pacifico', cursive;
}

#navbar #nav-brand{
    margin-right: auto;
}
#navbar #nav-brand a{
    color: var(--text-color-primary);
    text-decoration: none;
}

#navbar #nav-menu .nav-list-link{
    font-size: .85rem;
    color: var(--text-color-primary);
    margin-right: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#navbar #nav-menu .nav-list-i:last-child .nav-list-link{
    color: white;
    background-color: black;
    border-radius: 55rem;
    padding: .5rem 1rem;
}