:root{
    --navbar-color: var(--color-yellow);
    --navbar-height: 5rem;
    --navbar-sign-up-color: rgb(0, 0, 0);
    --navbar-animation-duration: .5s;
}

#navbar-wrapper{
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: solid 1px black;
    background-color: var(--navbar-color);
    transition: background-color var(--navbar-animation-duration);
}

#navbar{
    display: flex;
    align-items: center;
    max-width: var(--content-max-width);
    padding: 0 1rem;
    margin: auto;
    height: 100%;
}

#nav-brand{
    font-family: 'Pacifico', cursive;
}

#navbar #nav-brand{
    margin-right: auto;
}
#nav-brand a{
    color: var(--text-color-primary);
    text-decoration: none;
}

#navbar #nav-menu .nav-list-link{
    font-size: .85rem;
    color: var(--text-color-primary);
    margin-right: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.nav-list-i:last-child .nav-list-link{
    background-color: var(--navbar-sign-up-color);
    color: white!important;
    border-radius: 55rem;
    transition: background-color var(--navbar-animation-duration);
}

#navbar #nav-menu .nav-list-i:last-child .nav-list-link{
    padding: .5rem 1rem;
}