#mobile-navbar{
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px var(--content-rl-padding-s);
    background-color: var(--navbar-color);
    border-bottom: solid 1px black;
    transition: background-color .5s;
}


#mobile-navbar #nav-brand .img-link{
    max-width: 10rem;
}

#mobile-navbar #nav-menu .nav-list-link{
    font-size: .85rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: .5rem 1.2rem;
}