root{
    --background-color: rgb(255, 255, 255);
    --foreground-color: rgb(37, 36, 36);
}


.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-around{
    justify-content: space-around;
}

.flex-between{
    justify-content: space-between;
}


.btn{
    background-color: var(--background-color);
    color: var(--foreground-color);
    cursor: pointer;
    box-shadow: none;
}

.btn-round{
    border: solid var(--foreground-color) 1px;
    border-radius: 9rem;
}

.btn-hover:hover{
    background-color: var(--foreground-color);
    color: var(--background-color);
    border-color: var(--foreground-color);
}
